/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'; */

body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 16px;
    color: #444;
    /* 538 blog */
    /* font-family: ArnhemPro,Georgia,"Helvetica Neue",sans-serif} */
    /* Like a lighter Futura */
    /* font-family: PT Sans; */
    /* My favorite so far  */
    /* font-family: "Roboto", "Futura", "Arial", sans-serif; */
    font-family: "Futura", "Roboto", "Arial", sans-serif;
}
.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
