 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jack of all trades, master of...well we're getting there.
                      If I'm not tinkering with a new technology, then I'm cooking
                      subpar Italian food, cruising along on my CitiBike, or doodling.
                      </p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're looking for an engineer, a sensible chuckle, or some random projects utilizing cartographic data - this is the place for you! </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                </div>-->
            </div>
        </div>
    </section>
