
    <!-- Projcet Grid Section -->
    <section id="project">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Just Cause</h2>
                <hr id="dark" class="star-primary">

                  <!--  <hr class="info-icon-primary">-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 center-block">
                <a href="/nautical/index.html">
                  <h3 class="text-center project">Nautical</h3>
                  <img class="center-block" src="img/nautical.png" height="200px" width="200px"/>
                </a>
              </div>

              <div class="col-md-4 center-block">
                <a href="manilalist.herokuapp.com">
                  <h3 class="text-center project">Manila</h3>
                  <img class="center-block" src="img/location.png" height="200px" width="200px"/>
                </a>
              </div>

              <div class="col-md-4 center-block">
                <a href="https://github.com/pajamaw">
                  <h3 class="text-center project">Currently working on...</h3>
                  <img class="center-block" src="img/github.svg" height="200px" width="200px"/>
                </a>
              </div>

            </div>
        </div>
    </section>
