
    <!-- Projcet Grid Section -->
    <section id="project">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Things I built a while back for fun</h2>
            <hr id="dark" class="star-primary">
          </div>
        </div>
        <div class="row">

          <div class="col-md-4 center-block">
            <a href="http://getinvolvd.herokuapp.com">
              <h3 class="text-center project">GetInvolved</h3>
            </a>
            <p class="text-center"><sm><a href="https://github.com/pajamaw/getangry">Source Code</a></sm></p>
            <a href="http://getinvolvd.herokuapp.com">
              <img class="center-block" src="img/LawBuildingGA.png" height="200px" width="200px"/>
            </a>
          </div>

          <div class="col-md-4 center-block">
            <a href="http://zype.herokuapp.com">
              <h3 class="text-center project">ZypeTube</h3>
            </a>
            <p class="text-center"><sm><a href="https://github.com/pajamaw/zypetube">Source Code</a></sm></p>
            <a href="http://zype.herokuapp.com">
              <img class="center-block" src="img/github.svg" height="200px" width="200px"/>
            </a>
          </div>

          <div class="col-md-4 center-block">
            <a href="http://manilla.herokuapp.com">
              <h3 class="text-center project">Manila</h3>
            </a>
            <p class="text-center"><sm><a href="https://github.com/pajamaw/manila">Source Code</a></sm></p>
            <a href="http://manilla.herokuapp.com">
              <img class="center-block" src="img/location.png" height="200px" width="200px"/>
            </a>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <a href="/nautical/index.html">
              <h3 class="text-center project">Nautical</h3>
            </a>
            <p class="text-center"><sm><a href="https://github.com/pajamaw/nautical-flights">Source Code</a></sm></p>
            <a href="/nautical/index.html">
              <img class="center-block" src="img/nautical.png" height="200px" width="200px"/>
            </a>
          </div>

          <div class="col-md-4">
            <a href="/BlueWolf/client/public/index.html">
              <h3 class="text-center project">BlueWeather</h3>
            </a>
            <p class="text-center"><sm><a href="https://bitbucket.org/pajamaw/blue-weather">Source Code</a></sm></p>
            <a href="/BlueWolf/client/public/index.html">
              <img class="center-block" src="img/github.svg" height="200px" width="200px"/>
            </a>
          </div>

          <div class="col-md-4">
            <a href="https://github.com/pajamaw">
              <h3 class="text-center project">Currently working on...</h3>
              <img class="center-block" src="img/github.svg" height="200px" width="200px"/>
            </a>
          </div>
        </div>

      </div>
    </section>
